

#google-button {
    background-color: #4c8bf5;
    border: none;
    padding: none;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

#google-button:hover {
    filter:brightness(110%);
}